pkgbase = openanime-desktops
	pkgdesc = OpenAnime masaüstü istemcisi — Tauri v2 + Rust + Svelte v5
	pkgver = 1.0.2_beta
	pkgrel = 1
	url = https://github.com/Dark-Hunter-TR/OpenAnime-Desktops
	arch = x86_64
	license = MIT
	makedepends = rust
	makedepends = cargo
	makedepends = nodejs
	makedepends = bun
	makedepends = base-devel
	makedepends = xdotool
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libappindicator-gtk3
	depends = librsvg
	depends = gstreamer
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-bad
	depends = gst-plugins-ugly
	depends = gst-libav
	optdepends = libva-mesa-driver: Intel/AMD donanım video decode
	optdepends = nvidia-utils: NVIDIA donanım video decode
	source = openanime-desktops-1.0.2_beta.tar.gz::https://github.com/Dark-Hunter-TR/OpenAnime-Desktops/archive/refs/tags/v1.0.2-beta.tar.gz
	sha256sums = SKIP

pkgname = openanime-desktops
